.spacer {
  flex: 1;
}

.toolbar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #87d5fc;
  color: white;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 600;
  padding-left: 20px;
  color: #555555;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #github-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #github-logo:hover {
  opacity: 0.8;
}

h1 {
  font-family: 'Julius Sans One', sans-serif;
  margin: 0 0 1px;
}
