<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Eggs Benny Logo"
    src="../../../../assets/img/logo.png"
  />
  <div>
    <div><h1>Eggs Benny's Demo Workflow App</h1></div>
    <div style="font-size: 1em;color:#ffffff;">This application is <strong style="color: #ff7174;">Angular 9.0.2 </strong> mock application without back-end, Spring Boot and it is <strong style="color: #ff7174;">currently under development</strong>.
    </div>
  </div>
  <div class="spacer"></div>
  <a aria-label="Eggs Benny Github" target="_blank" rel="noopener" href="https://github.com/EggsBenny44/mockapp" title="Github">
    <img
      width="40"
      alt="Eggs Benny Github"
      src="../../../../assets/img/github.png"
    />
  </a>
</div>
