<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Eggs Benny Logo"
    src="../../../../assets/img/logo.png"
  />
  <div>
    <div><h1>Eggs Benny's Demo Workflow App</h1></div>
    <div style="font-size: 1em;color:#ffffff;">This application does not implement back-end, spring boot, it is just angular mock application.</div>
  </div>
  <div class="spacer"></div>
  <a aria-label="Eggs Benny Github" target="_blank" rel="noopener" href="https://github.com/EggsBenny44" title="Github">
    <img
      width="40"
      alt="Eggs Benny Github"
      src="../../../../assets/img/github.png"
    />
  </a>
</div>
